node_modules
**/node_modules
.pnpm-store

dist
**/dist
.next
**/.next
.turbo
build
**/build
coverage
**/coverage

.git
.gitignore
.vscode
.idea

*.log
npm-debug.log*
pnpm-debug.log*

.env
.env.local
.env.*.local
